In [1]:
#Import dependencies
import pandas as pd
import numpy as np

#Make a reference to the csv file paths:
school_path = "Resources/schools_complete.csv"
student_path = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_df = pd.read_csv (school_path)
student_df = pd.read_csv(student_path)

In [3]:
# Combine the data into a single dataset, removing the  Student ID and School ID columns as they hold no value
school_data_combined= pd.merge(student_df, school_df,  on="school_name")
school_data_combined = school_data_combined.drop(['School ID', 'Student ID'], axis=1)
school_data_combined.head()

,student_name,gender,grade,school_name,reading_score,math_score,type,size,budget
0,Paul Bradley,M,9th,Huang High School,66,79,District,2917,1910635
1,Victor Smith,M,12th,Huang High School,94,61,District,2917,1910635
2,Kevin Rodriguez,M,12th,Huang High School,90,60,District,2917,1910635
3,Dr. Richard Scott,M,12th,Huang High School,67,58,District,2917,1910635
4,Bonnie Ray,F,9th,Huang High School,97,84,District,2917,1910635

In [4]:
#District Summary
#total number of schools
schools= school_data_combined["school_name"].value_counts()
total_numb_schools=len(schools)
total_numb_schools

15

In [5]:
#total numb of students
total_numb_students = school_data_combined["student_name"].count()
total_numb_students

39170

In [6]:
#Total budget
total_budget = school_df["budget"].sum()
total_budget

24649428

In [7]:
#Average Math Score
aver_math=(school_data_combined["math_score"].mean())
aver_math

78.98537145774827

In [8]:
# Average reading score
averg_reading=(school_data_combined["reading_score"].mean())
averg_reading

81.87784018381414

In [9]:
# Calculate the percentage of students with a passing math score (70 or greater)
#passing score is >70.I need to organize the data: take all the scores that are >=70 / total score.
pass_math = student_df.loc[student_df["math_score"]>=70]
pass_math_prcent=len(pass_math)/total_numb_students*100
pass_math_prcent

74.9808526933878

In [10]:
#% Passing Reading (The percentage of students that passed reading.)
pass_read = student_df.loc[student_df["reading_score"]>=70]
pass_read_prcent=len(pass_read)/total_numb_students*100
pass_read_prcent

85.80546336482001

In [11]:
#% Overall Passing (The percentage of students that passed math and reading.)we are looking at all the scores that are above 70 to calculate the overal by student name count.
overall_pass = student_df[(student_df['math_score'] >= 70) & (student_df['reading_score'] >= 70)]['student_name'].count()/total_numb_students*100
overall_pass

65.17232575950983

In [12]:
district_summary = pd.DataFrame({
    
    "Total Schools": [total_numb_schools],
    "Total Students": [total_numb_students],
    "Total Budget": [total_budget],
     "Average Math Score": [aver_math],
    "Average Reading Score":[averg_reading],
    "% Passing Math": [pass_math_prcent],
    "% Passing Reading": [pass_read_prcent],
    "Overall Passing %": [overall_pass]
  
})

district_summary["Total Budget"]=district_summary["Total Budget"].map('${:,.2f}'.format)
district_summary["Total Students"]=district_summary["Total Students"].map('{:,.0f}'.format)
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing %
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [19]:
#School Summary

In [13]:
#school type
school_type=school_df.set_index(["school_name"])["type"]
school_type

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [14]:
#total students
school_total_students=school_data_combined["school_name"].value_counts()
school_total_students

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [15]:
#Total school budget
school_budget=school_df.set_index("school_name")["budget"]
school_budget

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [16]:
#per student budget
psb=school_budget/school_total_students
psb

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [17]:
#Average math Score
#total math score per school
avg_math_scores = round(school_data_combined.groupby(["school_name"]).mean()["math_score"],2)
avg_math_scores

school_name
Bailey High School       77.05
Cabrera High School      83.06
Figueroa High School     76.71
Ford High School         77.10
Griffin High School      83.35
Hernandez High School    77.29
Holden High School       83.80
Huang High School        76.63
Johnson High School      77.07
Pena High School         83.84
Rodriguez High School    76.84
Shelton High School      83.36
Thomas High School       83.42
Wilson High School       83.27
Wright High School       83.68
Name: math_score, dtype: float64

In [18]:
#avergae reading scores per school
#total reading scores per school
avg_reading_scores = round(school_data_combined.groupby(["school_name"]).mean()["reading_score"],2)
avg_reading_scores

school_name
Bailey High School       81.03
Cabrera High School      83.98
Figueroa High School     81.16
Ford High School         80.75
Griffin High School      83.82
Hernandez High School    80.93
Holden High School       83.81
Huang High School        81.18
Johnson High School      80.97
Pena High School         84.04
Rodriguez High School    80.74
Shelton High School      83.73
Thomas High School       83.85
Wilson High School       83.99
Wright High School       83.96
Name: reading_score, dtype: float64

In [19]:
# Calculate the percentage of students with a passing math score (70 or greater)
#passing score is >70.I need to organize the data: take all the scores that are >=70 / total score.
students_pass_math = school_data_combined[(school_data_combined["math_score"]>=70)]
students_pass_math.head()

,student_name,gender,grade,school_name,reading_score,math_score,type,size,budget
0,Paul Bradley,M,9th,Huang High School,66,79,District,2917,1910635
4,Bonnie Ray,F,9th,Huang High School,97,84,District,2917,1910635
5,Bryan Miranda,M,9th,Huang High School,94,94,District,2917,1910635
6,Sheena Carter,F,11th,Huang High School,82,80,District,2917,1910635
8,Michael Roth,M,10th,Huang High School,95,87,District,2917,1910635

In [20]:
students_pass_math_per_school=students_pass_math.groupby(["school_name"]).count()["student_name"]
students_pass_math_per_school

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: student_name, dtype: int64

In [21]:
#percentage of students passing math per school
pass_math_prcent=round((students_pass_math_per_school/school_total_students)*100,2)
pass_math_prcent

Bailey High School       66.68
Cabrera High School      94.13
Figueroa High School     65.99
Ford High School         68.31
Griffin High School      93.39
Hernandez High School    66.75
Holden High School       92.51
Huang High School        65.68
Johnson High School      66.06
Pena High School         94.59
Rodriguez High School    66.37
Shelton High School      93.87
Thomas High School       93.27
Wilson High School       93.87
Wright High School       93.33
dtype: float64

In [22]:
# Calculate the percentage of students 
#with a passing reading score (70 or greater)
students_pass_read = school_data_combined[(school_data_combined["reading_score"]>=70)]
students_pass_read.head()

,student_name,gender,grade,school_name,reading_score,math_score,type,size,budget
1,Victor Smith,M,12th,Huang High School,94,61,District,2917,1910635
2,Kevin Rodriguez,M,12th,Huang High School,90,60,District,2917,1910635
4,Bonnie Ray,F,9th,Huang High School,97,84,District,2917,1910635
5,Bryan Miranda,M,9th,Huang High School,94,94,District,2917,1910635
6,Sheena Carter,F,11th,Huang High School,82,80,District,2917,1910635

In [23]:
# students passing by school
students_pass_read_per_school=students_pass_read.groupby(["school_name"]).count()["student_name"]
students_pass_read_per_school

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: student_name, dtype: int64

In [24]:
#percentage of students passing reading per school
pass_read_prcent=round((students_pass_read_per_school/school_total_students)*100,2)
pass_read_prcent

Bailey High School       81.93
Cabrera High School      97.04
Figueroa High School     80.74
Ford High School         79.30
Griffin High School      97.14
Hernandez High School    80.86
Holden High School       96.25
Huang High School        81.32
Johnson High School      81.22
Pena High School         95.95
Rodriguez High School    80.22
Shelton High School      95.85
Thomas High School       97.31
Wilson High School       96.54
Wright High School       96.61
dtype: float64

In [25]:
#overall passing rate per school
overall_pass_school=school_data_combined[(school_data_combined['math_score'] >= 70) & (school_data_combined['reading_score'] >= 70)]
overall_pass_school=overall_pass_school.groupby(["school_name"]).count()["student_name"]
pass_overall_prcent=round((overall_pass_school/school_total_students)*100,2)
pass_overall_prcent

Bailey High School       54.64
Cabrera High School      91.33
Figueroa High School     53.20
Ford High School         54.29
Griffin High School      90.60
Hernandez High School    53.53
Holden High School       89.23
Huang High School        53.51
Johnson High School      53.54
Pena High School         90.54
Rodriguez High School    52.99
Shelton High School      89.89
Thomas High School       90.95
Wilson High School       90.58
Wright High School       90.33
dtype: float64

In [35]:
school_summary = pd.concat([
    school_type, school_total_students, school_budget,
    psb, avg_math_scores, avg_reading_scores,
    pass_math_prcent, pass_read_prcent, pass_overall_prcent], axis=1)

school_summary = school_summary.rename(columns={
    
        "school_name":"Total Students",
        "type":"School Type",        
        "budget":"Total School Budget",
        0:"Per Student Budget",
        "math_score":"Average Math Score",
        "reading_score":"Average Reading Score" ,
        1: "% Passing Math",
        2: "% Passing Reading",
        3:"Overall Passing %"
    })

school_summary["Total School Budget"]=school_summary["Total School Budget"].map('${:,.2f}'.format)
school_summary["Per Student Budget"]=school_summary["Per Student Budget"].map('${:,.2f}'.format)
school_summary.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing %
Huang High School,District,2917,"$1,910,635.00",$655.00,76.63,81.18,65.68,81.32,53.51
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.71,81.16,65.99,80.74,53.20
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.36,83.73,93.87,95.85,89.89
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.29,80.93,66.75,80.86,53.53
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.35,83.82,93.39,97.14,90.60

In [35]:
#Top Performing Schools (By % Overall Passing)
top_performing_schools=school_summary.sort_values(by=['Overall Passing %'], ascending=False).head(5)
top_performing_schools

,School Type,school_name,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing %
Cabrera High School,Charter,1858,1081356,582.0,83.06,83.98,94.13,97.04,91.33
Thomas High School,Charter,1635,1043130,638.0,83.42,83.85,93.27,97.31,90.95
Griffin High School,Charter,1468,917500,625.0,83.35,83.82,93.39,97.14,90.60
Wilson High School,Charter,2283,1319574,578.0,83.27,83.99,93.87,96.54,90.58
Pena High School,Charter,962,585858,609.0,83.84,84.04,94.59,95.95,90.54

In [37]:
#Sort and display the five worst-performing schools by % overall passing.
bottom_performing_schools=school_summary.sort_values(by=['Overall Passing %'], ascending=True).head(5)
bottom_performing_schools

,School Type,school_name,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing %
Rodriguez High School,District,3999,2547363,637.0,76.84,80.74,66.37,80.22,52.99
Figueroa High School,District,2949,1884411,639.0,76.71,81.16,65.99,80.74,53.20
Huang High School,District,2917,1910635,655.0,76.63,81.18,65.68,81.32,53.51
Hernandez High School,District,4635,3022020,652.0,77.29,80.93,66.75,80.86,53.53
Johnson High School,District,4761,3094650,650.0,77.07,80.97,66.06,81.22,53.54

In [38]:
#Math Scores by Grade. Create a table that lists the average Math Score for students 
#of each grade level (9th, 10th, 11th, 12th) at each school.
math_score_grade = pd.pivot_table(school_data_combined.sort_values(by=['grade']), values=["math_score"], index=["school_name"],
                   columns=['grade'], aggfunc={"math_score": np.mean})
math_score_grade.head()

                     math_score
grade                      10th       11th       12th        9th
school_name
Bailey High School    76.996772  77.515588  76.492218  77.083676
Cabrera High School   83.154506  82.765560  83.277487  83.094697
Figueroa High School  76.539974  76.884344  77.151369  76.403037
Ford High School      77.672316  76.918058  76.179963  77.361345
Griffin High School   84.229064  83.842105  83.356164  82.044010

In [39]:
# Reading Score by Grade 

reading_score_grade = pd.pivot_table(school_data_combined.sort_values(by=['grade']), values=["reading_score"], index=["school_name"],
                   columns=['grade'], aggfunc={"reading_score": np.mean})
reading_score_grade.head()

                     reading_score
grade                         10th       11th       12th        9th
school_name
Bailey High School       80.907183  80.945643  80.912451  81.303155
Cabrera High School      84.253219  83.788382  84.287958  83.676136
Figueroa High School     81.408912  80.640339  81.384863  81.198598
Ford High School         81.262712  80.403642  80.662338  80.632653
Griffin High School      83.706897  84.288089  84.013699  83.369193

In [41]:
## Scores by School Spending
#Create a table that breaks down school performances based on average Spending Ranges (Per Student). 
#Use 4 reasonable bins to group school
school_summary['Per Student Budget'].max()#figuring out the min and max for bin creation

655.0

In [50]:
bins=[0, 584, 629, 644, 675]# Create the names for the five bins
bin_names = ["<584", "585-629", "630-644", "645-675"]

school_summary["Spending Ranges (Per Student)"] = pd.cut(school_summary["Per Student Budget"], bins, labels=bin_names, include_lowest=True)
scores_by_spend=school_summary.groupby("Spending Ranges (Per Student)")
scores_by_spend[['Average Math Score', 'Average Reading Score','% Passing Math', '% Passing Reading', 'Overall Passing %']].mean()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing %
Spending Ranges (Per Student),,,,,
<584,83.452500,83.935000,93.460000,96.610000,90.367500
585-629,81.900000,83.155000,87.132500,92.717500,81.417500
630-644,78.517500,81.625000,73.485000,84.392500,62.857500
645-675,76.996667,81.026667,66.163333,81.133333,53.526667

In [43]:
school_df['size'].max()#figuring out the min and max for bin creationd

4976

In [51]:
#Scores by School Size
#Repeat the above breakdown, but this time group schools
#based on a reasonable approximation of school size (Small, Medium, Large).

bins=[0, 1000, 2000, 5000]
bin_names = ["Small (<1000)", "Medium  (1000-2000)", "Large (2000-5000)" ]

school_summary["School Size"] = pd.cut(school_summary['Total Students'], bins, labels=bin_names, include_lowest=True)
scores_by_size=school_summary.groupby("School Size")
scores_by_size[['Average Math Score', 'Average Reading Score','% Passing Math', '% Passing Reading', 'Overall Passing %']].mean()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing %
School Size,,,,,
Small (<1000),83.820,83.92500,93.55000,96.10000,89.885
Medium (1000-2000),83.374,83.86800,93.59800,96.79000,90.620
Large (2000-5000),77.745,81.34375,69.96375,82.76625,58.285

In [ ]:
## Scores by School Type

In [52]:
school_summary.groupby(["School Type"])[['Average Math Score', 'Average Reading Score','% Passing Math', '% Passing Reading', 'Overall Passing %']].mean()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing %
School Type,,,,,
Charter,83.472500,83.897500,93.620000,96.586250,90.431250
District,76.955714,80.965714,66.548571,80.798571,53.671429