In [34]:
#modules
import pandas as pd
import numpy as np

In [48]:
#Open the files:
school_path = "Resources/schools_complete.csv"
student_path = "Resources/students_complete.csv"

In [76]:
# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv (school_path)
student_data = pd.read_csv(student_path)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [81]:
#District Summary
#total numb of schools
schools= school_data_complete["school_name"].value_counts()
total_numb_schools=len(schools)
total_numb_schools

15

In [82]:
#total numb of students
total_students =len(school_data_complete["Student ID"].value_counts())
total_students

39170

In [83]:
#Total budget
total_budget = school_data_complete_df["budget"].sum()
total_budget

82932329558

In [84]:
#Average Math Score
aver_math=(school_data_complete["math_score"].mean())
aver_math

78.98537145774827

In [85]:
# Average reading score
avrg_reading=(school_data_complete["reading_score"].mean())
avrg_reading

81.87784018381414

In [107]:
# Calculate the percentage of students with a passing math score (70 or greater)
#passing score is >70.I need to organize the data: take all the scores that are >=70 / total score.
pass_math = student_data_df.loc[student_data_df["math_score"]>=70]
pass_math_prcent=len(pass_math)/total_students*100
pass_math_prcent

74.9808526933878

In [106]:
#% Passing Reading (The percentage of students that passed reading.)
pass_read = student_data_df.loc[student_data_df["reading_score"]>=70]
pass_read_prcent=len(pass_read)/total_students*100
pass_read_prcent

85.80546336482001

In [120]:
#% Overall Passing (The percentage of students that passed math and reading.)we are looking at all the scores that are above 70 to calculate the overal by student name count.
overall = student_data[(student_data['math_score'] >= 70) & (student_data['reading_score'] >= 70)]['student_name'].count()/total_students*100
overall

65.17232575950983

In [ ]:
#Create a dataframe to hold the above results
school_frame_df = pd.DataFrame({
    "School Name":
    "School Type":
    "Total Students"
    "Total School Budget":
    "Per Student Budget":
    "Average Math Score":
    "Average Reading Score":
    "% Passing Math":
    "% Passing Reading":
    "Overall Passing %": 
    "Price": [15.00, 12.50, 10.00, 5.00, 1.00],
    "Sales": [100, 200, 150, 300, "N/A"]
})
school_frame_df